@model EmployeeManagement.Models.EditPositionViewModel

@{
    ViewData["Title"] = "Edit Position";
}

<h2>Edit Position</h2>

<div class="card">
    <div class="card-header bg-primary text-white">
        Edit Position
    </div>
    <div class="card-body">
        <form asp-controller="Position" asp-action="Edit" method="post">
            <div class="form-group">
                <label for="Department">Department</label>
                <select class="form-control" id="DepartmentID" name="DepartmentID" asp-for="DepartmentID">
                    <option value="" disabled selected>[Select Department]</option>
                    @foreach (var department in Model.Departments)
                    {
                        <option value="@department.DepartmentID">@department.Name</option>
                    }
                </select>
            </div>

            <div class="form-group mt-3">
                <label for="PositionName">Position</label>
                <input asp-for="PositionName" class="form-control" id="PositionName" name="PositionName" type="text" placeholder="Enter Position" />
            </div>

            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>